{
  "server": true,
  "bootstrap": true,
  "log_level": "INFO",
  "data_dir": "/var/lib/consul",
  "ui": true,
  "client_addr": "0.0.0.0",
  "bind_addr": "0.0.0.0",
  "advertise_addr": "{{ vagrant_private_ip }}",
  "recursors": ["8.8.8.8"],
  "disable_remote_exec": false
}